body {
    margin: 0;
  }
  
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

#game-board {
    border-collapse: collapse;
}

#game-board td {
    border: gray solid 1px;
    width: 25px;
    height: 25px;
}

.score-container {
  margin-bottom: 1rem;
  display: flex;
}

.snake-head {
  font-size: 18px;
}

.snake {
 font-size: 18px;
}

.food {
  background-color: red;
  font-size: 20px;
 }

 .hidden {
  display: none;
 }

 #game-over {
  position: absolute;
  background: white;
  font-size:  2rem;
  padding: 0.4rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
 }

 button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
 }
